<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask a Question</title>
    <link rel="icon" href="static/img/titleicon.svg">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Ask Me Anything</h1>
        <form method="post">
            <div class="form-group">
                <textarea class="form-control" name="question" rows="5" placeholder="Send anonymous messages or questions" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send Question</button>
        </form>
        {% if submitted %}
            <div class="alert alert-success mt-3" role="alert">
                Your question has been submitted!
            </div>
        {% endif %}
    </div>
    </div>
    <!-- Audio element -->
    <audio id="background-music" loop>
        <source src="/static/media/songs_intro.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Play button -->
    <button id="play-button">&#9658;</button> <!-- Pause icon by default -->
    <script src="/static/scripts.js"></script>
</body>
</html>
