<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Questions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>AIA - Ask Irfan Anonymously Anything!</h1>
        <p>100% Anonymous. No login required, No data collected.</p>
        <p><a href="/ask" class="btn btn-primary btn-block">Ask a Question</a></p>
    </div>
</body>
</html>