<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Me Anything</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Ask Irfan Anything!</h1>
        <p style="text-align: center;">No Login, No Data Collected</p>
        <a href="/ask" class="btn btn-primary mt-3">Ask Questions</a>
        <a href="/answered_questions" class="btn btn-info mt-3">View Answered Questions</a>
    </div>
</body>
</html>