<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Share Question</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <div class="container card" id="question-card">
        <h1>Ask Me Anything</h1>
        <div class="card" >
            <p>{{ question.content }}</p>
        </div>
    </div>
    <div class = "container card">
        <button class="btn" id="save-image">
            <a id="download-link" download="question.png">Save Image</a>
        </button>
    </div>
    <script src="/static/html2canvas.min.js"></script>
    <script>
        document.getElementById('save-image').addEventListener('click', function() {
            html2canvas(document.getElementById('question-card')).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                fetch('/save_image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ image: imgData })
                })
                .then(response => response.json())
                .then(data => {
                    const downloadLink = document.getElementById('download-link');
                    downloadLink.href = data.url;
                    downloadLink.style.display = 'block';
                    downloadLink.click();
                });
            });
        });
    </script>
</body>
</html>
